.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.welcome-card{
  margin: 10%;
  margin-top: 0 !important;
  margin-bottom: 2.5% !important;
  box-shadow: none !important;
}

.logo-block{
  margin-top:10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.logo-block1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 15%;
  margin-bottom: 15%;
}
.logo{
  height: 75px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} 
.bottom-icon{
    height: 40px;
  margin-top: 10%;
}
.bottom-text{
    font-size: 14px;
    text-align: center;
    color: white;
    margin: 5px;
    bottom: 30px;
    width: 100%;
    margin: 0 auto;
}
.online-text{
    font-size: 22px;
    text-align: center;
    color: white;
    margin: 5px;
}
.logo1{
  height:200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} 
.home-icon{
  height: 30px;
  width: 30px;
  margin-top: 15px;
}

.login-item{
  --ion-background-color: transparent;
  border: none !important;
  margin-right: 10px;
}
.login-title{
  text-align: center;
  color: #B1B1D2;
  border-bottom: 3px solid #B1B1D2;
  font-size: 18px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.login-button{
  width: 40%;
  margin-left: 30%;
  margin-right: auto;
  height: 44px;
}

.item-inner {
    flex-direction: row-reverse !important;
    border: none !important;
  }

  .login-label-input{
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 18px;
  }
 .login-input{
      height: 50px;
    background: #ffff;
    padding: 10px !important;
    border-radius: 10px;}

  ion-icon {
    color: black !important;
    margin: 15px -13px -33px 0 !important;
    background-color: transparent;
    font-size: 27px;
    padding: 0px 7px 12px 0px;
  }

  .item-has-focus .label-floating.sc-ion-label-md-h {
    color: black !important;
  }
  .label-floating.sc-ion-label-md-h{
    color: #B1B1D2;
  }
ion-content{
  --background: linear-gradient(#272262, #213E9A) !important;
}