<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="login-background">
  <div class="logo-block">
    <ion-img class="logo" src="/assets/bird.svg"></ion-img>
  </div>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle class="login-title">Sign In</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="login-item">
        <ion-row>
          <ion-col size="2">
            <span item-right>
              <ion-img class="home-icon" src="/assets/images/lock.png"></ion-img>
            </span>
          </ion-col>
          <ion-col>
            <ion-label position="floating" >Reference Key</ion-label>
            <ion-input [(ngModel)]="reference"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button shape="round" color="light" class="login-button" (click)="signIn()">Sign In</ion-button>
</ion-content>