<ion-header>
  <ion-toolbar class="home-header new-background-color">
    <ion-buttons slot="end">
      <ion-menu-toggle>
        <img class="menu-icon" src='assets/icon/menu.png'>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      User Guide
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <ion-card class="profile-name-div">
  </ion-card>
  <div class="profile-name-bg">
    <ion-row style="height: 50px">
      <ion-col size="2">
        <span item-right>
          <ion-img class="key-icon" src="/assets/images/Keys-01.png"></ion-img>
        </span>
      </ion-col>
      <ion-col>
        <h2 class="guide-title">Reference Key</h2>
      </ion-col>
    </ion-row>
    <div class="text-field">
      <p>1. Reference Key must be provided by the School or University Administration.</p>
      <p>2. Reference Key is used as your Login Credential.</p>
      <p>3. One (1) Reference per Student.</p>
    </div>
    <ion-row style="height: 50px">
      <ion-col size="2">
        <span item-right>
          <ion-img class="key-icon" src="/assets/images/help.png"></ion-img>
        </span>
      </ion-col>
      <ion-col>
        <h2 class="guide-title">The Online Messaging App</h2>
      </ion-col>
    </ion-row>
    <div class="text-field">
      <p>1. Login to your account to receive messages/notification .</p>
      <p>2. This application is for Notifications and Logs only . No replay function</p>
      <p>3. Logout to close the app.</p>
    </div>
  </div>



</ion-content>