// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.searchbar-input {
    background: #F3F3F5  !important;
    border-radius: 10px !important;
    height: 60px !important;
    font-size: 18px !important;
    color: #AEABD5 !important;
    margin-right: 10px;
    border: 1px solid transparent;
}

.searchbar-search-icon.sc-ion-searchbar-md,.searchbar-search-icon.sc-ion-searchbar-ios  {
   color: #AEABD5 !important;
    font-size: 25px !important;
    top: 15px;
     width: 30px;
        
     height: 30px;
  }
  .toolbar-background, ::slotted(ion-progress-bar){
        background: #2A388F !important;
  }
  .toolbar-container{
        background: #2A388F !important;
  }

//   .item-native{
//   background:transparent !important;
// }
